:root {
    --font-heading: 'Hubot Sans', sans-serif;
    --font-body: 'Mona Sans', sans-serif;
}

body {
    font-family: var(--font-body) !important;
    font-optical-sizing: auto;
    font-weight: 600;
    background-color: #0034BC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading) !important;
    font-optical-sizing: auto;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

.custom-popover {
  --bs-popover-bg: #002B5C;
  --bs-popover-border-color: #F9A01B;
  --bs-popover-header-bg: #F9A01B;
  --bs-popover-header-color: #002B5C;
  --bs-popover-body-color: #ffffff;
}