.header-div {
    background-color: #00B4D8;
    color: white;
}

.middle-div-80 {
    background-color: #48CAE4;
    color: white;
}

.middle-div-60 {
    background-color: #90E0EF;
    color: white;
}

.middle-div-40 {
    background-color: #ADE8F4;
    color: white;
}


.bottom-div-1 {
    background-color: #CAF0F8;
    color: white;
}

.bottom-div-2 {
    background-color: #daf6fc;
    color: white;
}