:root {
    --font-heading: "IBM Plex Mono", monospace;
    --font-body: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body) !important;
    font-optical-sizing: auto;
    font-weight: 600;

    padding-top: 96px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading) !important;
    font-optical-sizing: auto;
    font-weight: 700;
}

.custom-popover {
  --bs-popover-bg: #212529;
  --bs-popover-border-color: #ADB5BD;
  --bs-popover-header-bg: #ADB5BD;
  --bs-popover-header-color: #212529;
  --bs-popover-body-color: #E9ECEF;
}

input, select, textarea, .input-group-text {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #FFC107 !important;
    color: #E9ECEF !important;
}

option {
    background-color: #212529;
}