:root {
    --font-heading: 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-body: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

h1, h2 {    
  text-decoration: underline rgba(255, 0, 0, 1) 7px !important;    
  text-underline-offset: 10px !important;
  margin-bottom: 16px;
}

.text-bg-dark {
    background-color: #3e4246 !important;
}

.bg-container {
    background-color: #8D949A;
}
