:root {
    --font-heading: 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-body: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

h1, h2 {    
  text-decoration: underline red 7px !important;    
  text-underline-offset: 10px !important;
  margin-bottom: 16px;
}

strong {
    color: red;
}

q {
    text-decoration: underline #8D949A 2px;
    font-size: 1rem !important;
}

.text-bg-dark {
    background-color: #3e4246 !important;
}

.bg-navbar {
    background-color: #4B5359;
}

.bg-container {
    background-color: #8D949A;
}