:root {
    --bs-body-bg: #D9D9D9;
}

.card-width {
    max-width: 700px;
}

.btn-primary {
    background-color: #353535 !important;
    border-color: #353535 !important;
}

.btn-primary:hover {
    background-color: #252525 !important;
    border-color: #252525 !important;
}