:root {
    --font-heading: 'Stack Sans Notch', sans-serif;
    --font-body: 'Stack Sans Text', sans-serif;
}

body {
    font-family: var(--font-body) !important;
    font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading) !important;
    font-optical-sizing: auto;
}

h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

li {
    border: none !important;
}

/* This class sets the text to no color and 2px white border */
.reversed-text {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.start-10 {
    left: 10%;
}

.position-md-relative {
    position: absolute;
}

.position-md-absolute {
    position: relative;
}

.container-fluid {
    max-width: 1720px;
}

.list-group-item {
    background-color: transparent;
    color: inherit;
}

.text-danger {
    color: red !important;
}

@media (min-width: 768px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .position-md-relative {
        position: relative !important;
    }

    .position-md-absolute {
        position: absolute !important;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 52px;
    }

    h3 {
        font-size: 28px;
    }
}